
body{
  background:rgb(24, 24, 24);
}

.popl{
  margin: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.all{
  
 
  overflow: hidden;
  background-color: #d70e1c;
  border-radius: 20px;
  text-align: center;
  width: 20%;
  color: white;
  margin-bottom: 15px;
  font-size: 9px;
}
.spac{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row-reverse;


}
.spac h2{
  border:2px solid #c3c2c7;
  width: 20%;
  text-align: center;
  padding-top: 4px;
  border-top-left-radius: 19px;
  



}
.spac h2 a{
  text-decoration: none;
  color: #c6c6c9;
  font-family: 'Courier New', Courier, monospace;
  font-size: 9px;
}
.popl_img{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: 29px;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.inhet{
   display: flex;
   flex-direction: column;
   border-radius:18px;
   background-color: #c61f1f;
   width: 30%;
   height: 40%;
   font-size: 29px;
   flex-wrap: wrap;

   margin-bottom: 30px;
   
  
}
.imge{
  margin: 0px;
  width: 96%;
  text-align: center;
  color: rgb(200, 194, 194);
  cursor: pointer;
  padding: 0px;
  
  
  
  
}
.cent{
  
            display: inline-block;
            position: relative;
            overflow: hidden;
            border-radius: 18px;
            margin: 0px;
            padding: 0px;
            width: 100%;
        
}
.imge img{
  display: block;
  width: 100%;
  
  
}
.shadow {
  position: absolute;
  top: 59%;
  flex-wrap: wrap;
  
  width: 100%;
 
  height: 71px;
  

  pointer-events: none;
  color: #e3dfdf;
  font-size: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.shadow1{
  position: absolute;
  top: 8%;
  width: 24%;
 
  left: 71%;
  border-radius: 18px;
  
  pointer-events: none;
  background-color: rgb(227, 11, 18);
  
  font-size: 9px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:bolder;
  text-align: center;
}
.shadow2{
  position: absolute;
  top: 8%;
  width: 19%;
  height: 8%;
  left: 10%;
  border-radius: 18px;
  
  pointer-events: none;
  background-color: rgb(231, 130, 130);
 
  font-size: 13px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:bolder;
  text-align: center;
  padding: 4px;
}
.wri{
 
  margin: 0px;
  height: 10%;
  
}
.tail{
  background-color: #1109ec;
  align-self: center;
  width: 100px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  
}
.tail h4{
  color: aliceblue;
}
.sl{
  width: 100%;
  display: flex;
  height:60px ;
  margin-bottom: 5px;
  flex-direction: row-reverse;
  justify-content: space-around;

}
.sl p{
  color: #FFFFFF;
  text-align: center;
  border: 1px solid white;
  width: 30%;
  height: 50%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
#p1{
  background-color: #0927ec;
}
#sl2{
  display: none;
}
#sl3{
  display: none;
}
.div1{
  width: 100%;
  display: flex;
  background-color: #2b09ec;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}
.name{
  width: 100%;
  display: flex;
  color:white ;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  


}
.name #hh{
  color: #FFFFFF;
  

}